.container.mt-5
  %h2{class: 'text-center'} Registro de Usuario
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render 'shared/alert' if (devise_error_messages!.present?)
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :name, 'Nombre y apellido'
          = f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name"
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :email, 'Correo electrónico'
          = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :password,'Contraseña'
          - if @minimum_password_length
            (mínimo #{@minimum_password_length} caracteres)
          = f.password_field :password, class: 'form-control', autocomplete: "new-password"
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :password_confirmation,'Repetir contraseña'
          = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :role,'Rol de Usuario'
          = f.select :role, User.roles.keys.map { |role| [role.titleize, role]}, {}, {class: 'form-control custom-select', required: 'true'}
    .actions.text-center
      .form-group
        .row.justify-content-center
          .col-4
            = f.submit "Registrarse", class: 'btn btn-primary btn-block'
