= form_with(model: @user, local:true) do |f|
  - if @user.errors.any?
    .row.justify-content-center
      .col-6
        #error_explanation.alert.alert-danger.alert-dismissible.fade.show
          %h4
            = pluralize(@user.errors.count, "error")
            al intentar registrar el usuario:
          %ul
            - @user.errors.full_messages.each do |message|
              %li= message
          %button.close{ 'data-dismiss': 'alert' }
            %span x
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :name, 'Nombre y apellido'
        = f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name"
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :email, 'Correo electrónico'
        = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :password,'Contraseña'
        - if @minimum_password_length
          (mínimo #{@minimum_password_length} caracteres)
        = f.password_field :password, class: 'form-control', autocomplete: "new-password"
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :password_confirmation,'Repetir contraseña'
        = f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password"
  - if current_user.role == 'administrator'
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :role,'Rol de Usuario'
          = f.select :role, User.roles.keys.map { |role| [role.titleize, role]}, {}, {class: 'form-control custom-select', required: 'true'}
  .actions.text-center
    .form-group
      .row.justify-content-center
        - if current_user.role == 'administrator'
          .col-3
            = f.submit "Guardar", class: 'btn btn-outline-primary btn-block'
          .col-3
            = link_to "Cancelar", users_path, class: 'btn btn-outline-danger btn-block'
        - else
          .col-3
            = f.submit "Guardar", class: 'btn btn-outline-primary btn-block'
          .col-3
            = link_to "Cancelar", root_path, class: 'btn btn-outline-danger btn-block'
