.container.mt-2.pos_relative
  %h4{class:'text-center'}Mantenimiento de Usuarios
  - if @users
    %table{class: 'table table-hover', id: 'tableusers'}
      %thead
        %tr
          %th
            Nombre
          %th
            Email
          %th
            Role
          %th
            Editar
          %th
            Eliminar
      %tbody
        - @users.each do |user|
          %tr
            %td
              = user.name
            %td
              = user.email
            %td
              .text-capitalize= user.role
            %td
              = link_to edit_user_path(user.id) do
                Editar
            %td
              = link_to user_path(user.id), method: :delete, data: {confirm: '¿Esta seguro de eliminar el usuario seleccionado?'} do
                Eliminar
  - else
    %h1 No Existen Usuarios Registrados
