.container.mt-2
  %h4{class:'text-center'}Mi perfil
  %table{class: 'table table-hover'}
    %thead
      %tr
        %th
          Nombre
        %th
          Email
        %th
          Role
    %tbody
      %tr
        %td
          = @user.name
        %td
          = @user.email
        %td
          .text-capitalize= @user.role
  .text-center= link_to 'Editar', edit_user_path(current_user.id), class:'btn btn-outline-primary pos_relative'
