.container.mt-5
  %h2{class: 'text-center'} ¿Olvidó su contraseña?
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render 'shared/alert' if (devise_error_messages!.present?)
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :email, 'Correo electrónico'
          = f.email_field :email, class: 'form-control', autofocus: true, autocomplete: "email"
    .actions.text-center
      .row
        .col
          = f.submit "Enviar instrucciones de reinicio de contraseña", class: 'btn mb-2 btn-primary'
