-# https://bootsnipp.com/snippets/featured/responsive-navigation-menu
-# .container.mt-2
-#   %h1 HOLA PEPSICOLA
.nav-side-menu
  .brand.font-italic
    = image_tag 'Logo_exterior.jpg', alt: '', height: '40', width: '40', class: 'd-inline-block'
    -# Gestión de Requerimientos
  %i.fa.fa-bars.fa-2x.toggle-btn{"data-target" => "#menu-content", "data-toggle" => "collapse"}
  .menu-list
    %ul#menu-content.menu-content.collapse.out
      %li
        = link_to root_path do
          %i.fa.fa-home.fa-lg.ml-2
          Inicio
      -# %li.collapsed.active{"data-target" => "#products", "data-toggle" => "collapse"}
      -#   -# %a{:href => "#"}
      -#   %i.fa.fa-gift.fa-lg.ml-3
      -#   %span.ml-1
      -#   UI Elements
      -#   %span.fas.fa-angle-down.icons-right
      -# %ul#products.sub-menu.collapse
      -#   %li.active
      -#     %a{:href => "#"} CSS3 Animation
      -#   %li
      -#     %a{:href => "#"} General
      -#   %li
      -#     %a{:href => "#"} Buttons
      -#   %li
      -#     %a{:href => "#"} Tabs  Accordions
      -#   %li
      -#     %a{:href => "#"} Typography
      -#   %li
      -#     %a{:href => "#"} FontAwesome
      -#   %li
      -#     %a{:href => "#"} Slider
      -#   %li
      -#     %a{:href => "#"} Panels
      -#   %li
      -#     %a{:href => "#"} Widgets
      -#   %li
      -#     %a{:href => "#"} Bootstrap Model
      %li.collapsed{"data-target" => "#portafolio", "data-toggle" => "collapse"}
        -# %a{:href => "#"}
        %i.fa.fa-briefcase.fa-lg.ml-3
        %span.ml-1
        Portafolio
        %span.fas.fa-angle-down.icons-right
      %ul#portafolio.sub-menu.collapse
        %li.active
          = link_to new_briefcase_path do
            Registrar
        %li
          = link_to briefcases_path do
            Listado
        -# %li New Service 3
      %li.collapsed{"data-target" => "#certificaciones", "data-toggle" => "collapse"}
        -# %a{:href => "#"}
        %i.fa.fa-file-contract.fa-lg.ml-3
        %span.ml-1
        Certificaciones
        %span.fas.fa-angle-down.icons-right
      %ul#certificaciones.sub-menu.collapse
        %li.active
          = link_to new_certification_path do
            Registrar
        %li
          = link_to certifications_path do
            Listado General
        %li Listado Personalizado
      - if current_user.present?
        - if current_user.role == 'administrator'
          %li.collapsed{"data-target" => "#dependence", "data-toggle" => "collapse"}
            %i.fa.fa-building.fa-lg.ml-3
            %span.ml-1
            Dependencias
            %span.fas.fa-angle-down.icons-right
          %ul#dependence.sub-menu.collapse
            %li.active
              = link_to new_dependence_path do
                Registrar
            %li
              = link_to dependences_path do
                Listado
            %li
              = link_to import_dependence_path do
                Cargar Archivo CSV
          %li.collapsed{"data-target" => "#leaders", "data-toggle" => "collapse"}
            %i.fa.fa-user-friends.fa-lg.ml-3
            %span.ml-1
            Plantilla de Líderes
            %span.fas.fa-angle-down.icons-right
          %ul#leaders.sub-menu.collapse
            %li.active
              = link_to new_tec_leader_path do
                Registrar
            %li
              = link_to tec_leaders_path do
                Listado
            %li
              = link_to import_path do
                Cargar Archivo CSV
          %li.collapsed{"data-target" => "#users", "data-toggle" => "collapse"}
            %i.fa.fa-users.fa-lg.ml-3
            %span.ml-1
            Usuarios
            %span.fas.fa-angle-down.icons-right
          %ul#users.sub-menu.collapse
            %li.active
              = link_to new_user_path do
                Registrar
            %li
              = link_to users_path do
                Listado
        %li
          = link_to edit_user_path(current_user.id) do
            %i.fa.fa-user.fa-lg.ml-2
            %span.ml-1
            Mi Perfil
      %span{id:'sing_in_btn'}
        - if !current_user.present?
          - if controller_name !='sessions'
            = link_to new_user_session_path, class: 'btn btn-sm btn-outline-warning' do
              Iniciar Sesión
          - else
            = link_to root_path, class: 'btn btn-sm btn-outline-warning' do
              Home
        -else
          = link_to destroy_user_session_path, method: 'delete', class: 'btn btn-sm btn-outline-warning' do
            Logout
-# %input{class:"dropify", type:"file"}
