%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to root_path, class: 'navbar-brand' do
    = image_tag 'beca-logo.png', alt: '', height: '40', width: '40', class: 'd-inline-block'
    %span{class:'font-italic font-weight-bold'} Gestión de Requerimientos
  %button{class: 'navbar-toggler collapsed', type: 'button', 'data-toggle'=>'collapse', 'data-target'=>"#navbarSupportedContent", 'aria-controls'=>"navbarSupportedContent", 'aria-expanded'=>"false", 'aria-label'=>"Toggle navigation"}
    %span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    %ul{class:'navbar-nav mr-auto'}
      %li{class:'nav-item'}
        = link_to root_path, class:'nav-link' do
          Requerimientos
      %li{class:'nav-item'}
        = link_to root_path, class:'nav-link' do
          Certificaciones
      %li{class:'nav-item'}
        = link_to root_path, class:'nav-link disabled' do
          Estadísticas
      - if current_user.role == 'administrator'
        %li{class:'nav-item dropdown'}
          %a{href:"#", class:'nav-link dropdown-toggle', id:"adminusers", role:"button", 'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
            Manejo de Usuarios
          .dropdown-menu{"aria-labelledby" => "adminusers"}
            = link_to new_user_path, class: 'dropdown-item' do
              Crear Usuario
            = link_to users_path, class: 'dropdown-item' do
              Manejo de Usuarios
    -# %form.form-inline.my-2.my-lg-0
    -#   %input.form-control.mr-sm-2{"aria-label" => "Search", :placeholder => "Search", :type => "search"}/
    -#   %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
    -# %span Usuario:
  -# = image_tag 'beca-logo.png', alt: '', height: '30', width: '30', class: 'd-inline-block align-top'
  -if current_user.name.present?
    %ul{class:'navbar-nav mr-auto'}
      %li{class: 'nav-item dropdown'}
        = link_to "#{current_user.name}", "#", {class:'nav-link dropdown-toggle font-italic text-capitalize font-weight-bold', id:"menuperfil", role:"button", 'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
        .dropdown-menu{"aria-labelledby" => "menuperfil"}
          = link_to user_path(current_user.id), class:'dropdown-item' do
            Consultar Perfil
          = link_to edit_user_path(current_user.id), class:'dropdown-item' do
            Modificar Perfil
          .dropdown-divider
          = link_to destroy_user_session_path, method: 'delete', class:'dropdown-item' do
            Cerrar Sesión
  - else
    %ul{class:'navbar-nav mr-auto'}
      %li{class: 'nav-item dropdown'}
        = link_to "#{current_user.email}", "#", {class:'nav-link dropdown-toggle font-italic font-weight-bold', id:"menuperfil", role:"button", 'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
        .dropdown-menu{"aria-labelledby" => "menuperfil"}
          = link_to user_path(current_user.id), class:'dropdown-item' do
            Consultar Perfil
          = link_to edit_user_path(current_user.id), class:'dropdown-item' do
            Modificar Perfil
          .dropdown-divider
          = link_to destroy_user_session_path, method: 'delete', class:'dropdown-item' do
            Cerrar Sesión
  = image_tag 'beca-logo.png', alt: '', height: '30', width: '30', class: 'd-inline-block align-top'
