= form_with(model: [@briefcase, @document], local:true) do |f|
  - if @document.errors.any?
    .row.justify-content-center
      .col-6
        #error_explanation.alert.alert-danger.alert-dismissible.fade.show
          %h4
            = pluralize(@document.errors.count, "error")
            al intentar registrar la certificación:
          %ul
            - @document.errors.full_messages.each do |message|
              %li= message
          %button.close{ 'data-dismiss': 'alert' }
            %span x
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :name, 'Nombre del Documento'
        = f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "details"
  .form-group
    .row.justify-content-center
      .col-6
        = f.file_field :attachment, class: 'dropify'
  .actions.text-center
    .form-group
      .row.justify-content-center
        .col-3
          = f.submit "Guardar", class: 'btn btn-outline-primary btn-block'
        .col-3
          = link_to "Cancelar", briefcase_documents_path, class: 'btn btn-outline-danger btn-block'
