.container.mt-2.pos_relative
  %h4{class:'text-center'}Listado de Documentos por Requerimiento
  - if @documents.present?
    %table{class: 'table table-hover', id: ''}
      %thead
        %tr
          %th
            Nombre del documento
          %th
            Documento Adjunto
          %th
            Opción
      %tbody
        - @documents.each do |doc|
          %tr
            %td
              = doc.name
            %td
              = link_to 'Ver', url_for(doc.attachment), target: "_blank"
            %td.dropdown.dropright
              %button#dropdownMenuButton.btn{class: 'btn btn-info',type: 'button', 'data-toggle':"dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}
                = image_tag 'menu.svg'
              .dropdown-menu#dropdownmenu{"aria-labelledby" => "dropdownMenuButton"}
                .dropdown-item#dropdownmenuitem
                  = link_to edit_briefcase_document_path(@briefcase,doc.id), class: '', id: 'optionbutton' do
                    .row
                      .col-3
                        = image_tag 'pencil.svg'
                      .col-9
                        Editar
                .dropdown-item#dropdownmenuitem
                  = link_to briefcase_document_path(@briefcase,doc.id), method: 'delete', data: {confirm: '¿Esta seguro de eliminar este género?'}, class: '', id: 'optionbutton' do
                    .row
                      .col-3
                        = image_tag 'bin.svg'
                      .col-9
                        Eliminar
    .row.justify-content-center
      .col-2
        = link_to "Agregar", new_briefcase_document_path(@briefcase), class: 'btn btn-outline-primary btn-block'
      .col-2
        = link_to "Regresar", briefcases_path, class: 'btn btn-outline-primary btn-block'
  - else
    %h1 No existen documentos asociados al Requerimiento seleccionado
    .row.justify-content-center
      .col-2
        = link_to "Agregar", new_briefcase_document_path(@briefcase), class: 'btn btn-outline-primary btn-block'
      .col-2
        = link_to "Regresar", briefcases_path, class: 'btn btn-outline-primary btn-block'
