= form_with(model: @briefcase, local:true) do |f|
  - if @briefcase.errors.any?
    .row.justify-content-center
      .col-6
        #error_explanation.alert.alert-danger.alert-dismissible.fade.show
          %h4
            = pluralize(@briefcase.errors.count, "error")
            al intentar registrar la certificación:
          %ul
            - @briefcase.errors.full_messages.each do |message|
              %li= message
          %button.close{ 'data-dismiss': 'alert' }
            %span x
  .form-group
    .row.justify-content-center
      .col-2
        = f.label :req_number, 'N° Requerimiento'
        = f.text_field :req_number, class: 'form-control', autofocus: true, maxlength: '9'
      .col-2
        = f.label :rfc_number,'N° de RFC'
        = f.text_field :rfc_number, class: 'form-control', autofocus: true, maxlength: '9'
      .col-2
        = f.label :percent,'Avance (%)'
        = f.text_field :percent, class: 'form-control', autofocus: true, maxlength: '4'
  .form-group
    .row.justify-content-center
      .col-3
        = f.label :date_apply, 'Fecha de Aplicación'
        = f.date_field :date_apply, class: 'form-control', autofocus: true
      .col-3
        = f.label :date_close, 'Fecha de Cierre'
        = f.date_field :date_close, class: 'form-control', autofocus: true
  .form-group
    .row.justify-content-center
      .col-3
        = f.label :status,'Estatus'
        = f.select :status, Briefcase.statuses.keys.map { |status| [status.titleize, status]}, {}, {class: 'form-control custom-select', required: 'true'}
      .col-3
        = f.label :kind,'Tipo de Requerimiento'
        = f.select :kind, Briefcase.kinds.keys.map { |kind| [kind.titleize, kind]}, {}, {class: 'form-control custom-select', required: 'true'}
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :details, 'Detalles'
        = f.text_area :details, class: 'form-control', autofocus: true
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :user_id,'Líder de Seguridad'
        = f.select :user_id, @users, {}, {class: 'form-control custom-select', required: 'true'}
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :tec_leader_id,'Líder Técnico'
        = f.select :tec_leader_id, @leaders, {}, {class: 'form-control custom-select', required: 'true'}
  -if action_name == 'new'
    = f.fields_for :documents, @document do |doc|
      .form-group
        .row.justify-content-center
          .col-6
            = doc.label :name,'Nombre del Archivo que se anexa (No requerido)'
            = doc.text_field :name, class: 'form-control'
      .form-group
        .row.justify-content-center.mt-4
          .col-6
            = doc.file_field :attachment, class: 'form-control-file'
  .actions.text-center
    .form-group
      .row.justify-content-center
        .col-3
          = f.submit "Guardar", class: 'btn btn-outline-primary btn-block'
        .col-3
          = link_to "Cancelar", briefcases_path, class: 'btn btn-outline-danger btn-block'
