.container.mt-2.pos_relative
  %h4{class:'text-center'}Listado de Certificaciones Emitidas
  - if @briefcases.present?
    %table{class: 'table table-hover', id: 'tablebriefcasess'}
      %thead
        %tr
          %th
            N° Requerimiento
          %th
            N° RFC
          %th
            Avance
          %th
            Detalles
          %th
            Estatus
          %th
            Tipo
          %th
            Lider de Seguridad
          %th
            Lider Técnico
          %th
            Adjuntos
          %th
            Opción
      %tbody
        - @briefcases.each do |briefcase|
          %tr
            %td
              = briefcase.req_number
            %td
              = briefcase.rfc_number
            %td
              = briefcase.percent
            %td
              = briefcase.details
            %td
              .text-capitalize= briefcase.status
            %td
              .text-capitalize= briefcase.kind
            %td
              = briefcase.user.name
            %td
              = briefcase.tec_leader.name
            %td{class: 'text-center'}
              = link_to 'Ver', briefcase_documents_path(briefcase.id)
            %td.dropdown.dropright
              %button#dropdownMenuButton.btn{class: 'btn btn-info',type: 'button', 'data-toggle':"dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}
                = image_tag 'menu.svg'
              .dropdown-menu#dropdownmenu{"aria-labelledby" => "dropdownMenuButton"}
                .dropdown-item#dropdownmenuitem
                  = link_to edit_briefcase_path(briefcase.id), class: '', id: 'optionbutton' do
                    .row
                      .col-3
                        = image_tag 'pencil.svg'
                      .col-9
                        Editar
                .dropdown-item#dropdownmenuitem
                  = link_to briefcase_path(briefcase.id), method: 'delete', data: {confirm: '¿Esta seguro de eliminar este género?'}, class: '', id: 'optionbutton' do
                    .row
                      .col-3
                        = image_tag 'bin.svg'
                      .col-9
                        Eliminar
  - else
    %h1 No Existen Registros
