= form_with(model: @certification, local:true) do |f|
  - if @certification.errors.any?
    .row.justify-content-center
      .col-6
        #error_explanation.alert.alert-danger.alert-dismissible.fade.show
          %h4
            = pluralize(@certification.errors.count, "error")
            al intentar registrar la certificación:
          %ul
            - @certification.errors.full_messages.each do |message|
              %li= message
          %button.close{ 'data-dismiss': 'alert' }
            %span x
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :details, 'Detalles'
        = f.text_area :details, class: 'form-control', autofocus: true, autocomplete: "details"
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :priority,'Prioridad'
        = f.select :priority, Certification.priorities.keys.map { |priority| [priority.titleize, priority]}, {}, {class: 'form-control custom-select', required: 'true'}
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :enviorment,'Ambiente'
        = f.select :enviorment, Certification.enviorments.keys.map { |enviorment| [enviorment.titleize, enviorment]}, {}, {class: 'form-control custom-select', required: 'true'}
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :status,'Estatus'
        = f.select :status, Certification.statuses.keys.map { |status| [status.titleize, status]}, {}, {class: 'form-control custom-select', required: 'true'}
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :user_id,'Líder de Seguridad'
        = f.select :user_id, @users, {}, {class: 'form-control custom-select', required: 'true'}
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :tec_leader_id,'Líder Técnico'
        = f.select :tec_leader_id, @leaders, {}, {class: 'form-control custom-select', required: 'true'}
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :dependence_id,'Dependencia'
        = f.select :dependence_id, @dependences, {}, {class: 'form-control custom-select', required: 'true'}
  .form-group
    .row.justify-content-center
      .col-3
        = f.label :date, 'Fecha de Recepción'
        = f.date_field :date, class: 'form-control', autofocus: true
      .col-3
        = f.label :sent_date, 'Fecha de Entrega'
        = f.date_field :sent_date, class: 'form-control', autofocus: true
  -if action_name == 'new'
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :document, 'Adjuntar Certificación'
          = f.file_field :document, class: 'form-control-file', autofocus: true, required: 'true'
  -else
    .form-group
      .row.justify-content-center
        .col-6
          = f.label :document, 'Adjuntar Certificación'
          = f.file_field :document, class: 'form-control-file', autofocus: true
  .actions.text-center
    .form-group
      .row.justify-content-center
        .col-3
          = f.submit "Guardar", class: 'btn btn-outline-primary btn-block'
        .col-3
          = link_to "Cancelar", certifications_path, class: 'btn btn-outline-danger btn-block'
