.container.mt-2.pos_relative
  %h4{class:'text-center'}Listado de Certificaciones Emitidas
  - if @certifications.present?
    %table{class: 'table table-hover', id: 'tablecertifications'}
      %thead
        %tr
          %th
            N°
          -# %th
          -#   Fecha de Recepción
          %th
            Detalles
          -# %th
          -#   Prioridad
          -# %th
          -#   Ambiente
          %th
            Estatus
          %th
            Lider de Seguridad
          %th
            Lider Técnico
          -# %th
          -#   Dependencia
          -# %th
          -#   Fecha de Envío
          %th
            Documento de Certificación
          %th
            Opción
      %tbody
        - @certifications.each do |cert|
          %tr
            %td
              = link_to "#{cert.id}", cert
            -# %td
            -#   = cert.date
            %td
              = cert.details
            -# %td
            -#   .text-capitalize= cert.priority
            -# %td
            -#   .text-capitalize= cert.enviorment
            %td
              .text-capitalize= cert.status
            %td
              = cert.user.name
            %td
              = cert.tec_leader.name
            -# %td
            -#   = cert.dependence.name
            -# %td
            -#   = cert.sent_date
            %td{class: 'text-center'}
              = link_to 'Ver', url_for(cert.document), target: "_blank"
            %td.dropdown.dropright
              %button#dropdownMenuButton.btn{class: 'btn btn-info',type: 'button', 'data-toggle':"dropdown", 'aria-haspopup': "true", 'aria-expanded': "false"}
                = image_tag 'menu.svg'
              .dropdown-menu#dropdownmenu{"aria-labelledby" => "dropdownMenuButton"}
                .dropdown-item#dropdownmenuitem
                  = link_to edit_certification_path(cert.id), class: '', id: 'optionbutton' do
                    .row
                      .col-3
                        = image_tag 'pencil.svg'
                      .col-9
                        Editar
                .dropdown-item#dropdownmenuitem
                  = link_to certification_path(cert.id), method: 'delete', data: {confirm: '¿Esta seguro de eliminar este género?'}, class: '', id: 'optionbutton' do
                    .row
                      .col-3
                        = image_tag 'bin.svg'
                      .col-9
                        Eliminar
  - else
    %h1 No Existen Registros
