.container.mt-2.pos_relative
  %h4{class:'text-center'}= "Certificación Número: #{@certification.id}"
  %p
    %strong Fecha de Recepción:
    = @certification.date
  %p
    %strong Detalles:
    = @certification.details
  %p
    %strong Prioridad:
    = @certification.priority
  %p
    %strong Ambiente:
    = @certification.enviorment
  %p
    %strong Estatus:
    = @certification.status
  %p
    %strong Lider de Seguridad:
    = @certification.user.name
  %p
    %strong Lider Técnico:
    = @certification.tec_leader.name
  %p
    %strong Dependencia:
    = @certification.dependence.name
  %p
    %strong Fecha de Envío:
    = @certification.sent_date
  %p
    %strong Documento de Certificación:
    = link_to 'Visualizar', url_for(@certification.document), target: "_blank"
  %p
    = link_to 'Editar', edit_certification_path(@certification), class: 'btn btn-outline-primary'
    = link_to 'Volver', certifications_path, class: 'btn btn-outline-primary'
