.container.mt-5
  %h2{class: 'text-center'} Registro por lote de Líderes Técnicos
  .row.justify-content-center.text-muted.font-italic.mt-3
    .col-10
      A través de esta opción, podrás cargar por lotes, aquellos Líderes Técnicos que pertenezcan al área de Tecnología de la Información, que se encuentren asignado a los requerimientos que la División de Seguridad de la Información mantenga en su portafolio activo. Recuerda que el formato válido para agregar resgitrar la información, es solo archivos separado por comas o mejor conocido ".CSV".
  = form_with(url: import_tec_leaders_path, local:true, multipart:true) do |form|
    .form-group
      .row.justify-content-center.mt-4
        .col-6
          = form.file_field :file, class: 'dropify', required: 'true'
    .actions
      .form-group
        .row.justify-content-center.mt-4
          .col-3
            = form.submit "Guardar", class: "btn btn-outline-primary btn-block"
          .col-3
            = link_to "Cancelar", tec_leaders_path, class: 'btn btn-outline-danger btn-block'
