.container.mt-2
  %h4{class:'text-center'}Listado de Líderes Técnicos
  - if @tecleaders.present?
    %table{class: 'table table-hover', id: 'tableleaders'}
      %thead
        %tr
          %th
            Nombre
          %th
            Editar
          %th
            Eliminar
      %tbody
        - @tecleaders.each do |leader|
          %tr
            %td
              = leader.name
            %td
              = link_to edit_tec_leader_path(leader.id) do
                Editar
            %td
              = link_to tec_leader_path(leader.id), method: :delete, data: {confirm: '¿Esta seguro de eliminar el usuario seleccionado?'} do
                Eliminar
  - else
    %h1 No Existen Registros
