= form_with(model: @dependence, local:true) do |f|
  - if @dependence.errors.any?
    .row.justify-content-center
      .col-6
        #error_explanation.alert.alert-danger.alert-dismissible.fade.show
          %h4
            = pluralize(@dependence.errors.count, "error")
            al intentar registrar la certificación:
          %ul
            - @dependence.errors.full_messages.each do |message|
              %li= message
          %button.close{ 'data-dismiss': 'alert' }
            %span x
  .form-group
    .row.justify-content-center
      .col-6
        = f.label :name, 'Nombre del Departamento'
        = f.text_field :name, class: 'form-control', autofocus: true, autocomplete: "name"
  .actions.text-center
    .form-group
      .row.justify-content-center
        .col-3
          = f.submit "Guardar", class: 'btn btn-outline-primary btn-block'
        .col-3
          = link_to "Cancelar", dependences_path, class: 'btn btn-outline-danger btn-block'
