.container.mt-2
  %h4{class:'text-center'}Listado de Departamentos TI
  - if @dependences.present?
    %table{class: 'table table-hover', id: 'tabledependences'}
      %thead
        %tr
          %th
            Nombre
          %th
            Editar
          %th
            Eliminar
      %tbody
        - @dependences.each do |dependence|
          %tr
            %td
              = dependence.name
            %td
              = link_to edit_dependence_path(dependence.id) do
                Editar
            %td
              = link_to dependence_path(dependence.id), method: :delete, data: {confirm: '¿Esta seguro de eliminar el usuario seleccionado?'} do
                Eliminar
  - else
    %h1 No Existen Registros
