// Place all the styles related to the certifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#optionbutton {
  color: black;
  text-decoration: none;
}

#optionbutton:hover {
  color: rgb(47, 0, 255);
}
