!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Requerimientos
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    %link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous")
    %link{:href => "https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css", :rel => "stylesheet", :type => "text/css"}/
    %script{:charset => "utf8", :src => "https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js", :type => "text/javascript"}
    %script{:charset => "utf8", :src => "https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js", :type => "text/javascript"}
  %body
    -# -if current_user.present?
    .row
      .nav.hidden-sm-down.col-md-2.col-lg-2.navhome
        = render 'shared/navbar_left'
      .main.col-md-10.col-lg-10
        = image_tag 'security-2', class: 'backhome'
        #notice= render 'shared/alertsuccess' if (flash[:notice])
        #error= render 'shared/alerterror' if (flash[:alert]) if (controller_name != 'sessions')
        = yield
